.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.small-gap {
  padding-top: 1px;
  padding-bottom: 1px;
}

.medium-gap {
  padding-top: 4px;
  padding-bottom: 4px;
}

.large-gap {
  padding-top: 8px;
  padding-bottom: 8px;
}

.col.s12 button.btn.another-btn {
  margin-right: 10px;
  margin-bottom: 10px;
}

/* .card-action */
.row.remove-bottom-padding {
  margin-bottom: 0;
}

.grey-bg {
  border: 1.5px dashed grey;
}